.hand-display {
  background-color: var(--main-txt);
  border-radius: 8px;
  height: fit-content;
  justify-content: center;
  margin: 8px;
  position: relative;
  width: fit-content;
}

.hand-icon {
  width: 6rem;
}

.badge {
  align-items: center;
  background-color: var(--main-bg);
  border-radius: 50%;
  top: 72px;
  color: var(--main-txt);
  display: flex;
  font-weight: 700;
  height: 32px;
  justify-content: center;
  right: 10px;
  padding: 2px 6px;
  position: absolute;
  text-align: center;
  width: 32px;
}

.hand-label {
  background-color: var(--main-txt);
  border-radius: 8px;
  color: var(--main-bg);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 8px 0;
}