.rules-board {
  background-color: var(--light-bg);
  border-radius: 8px;
  color: var(--main-bg);
  padding: 20px;
  text-align: left;
}

.rules-board>h3 {
  margin-bottom: 12px
}

.rule {
  list-style-type: none;
  margin-bottom: 8px;
}

.rule:last-child {
  margin-bottom: 0;
}