:root {
  --card-img-size: 140px;
  --id-size: 48px;
  --trump-size: 60px;
}

.card-container {
  cursor: pointer;
  perspective: 1000px;
  position: relative;
}

.card {
  background: linear-gradient(135deg, var(--medium-bg), var(--light-bg));
  border: 6px solid var(--main-bg);
  border-radius: var(--default-border-radius);
  height: 100%;
  max-height: 440px;
  max-width: 280px;
  min-height: 360px;
  min-width: 200px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-front {
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: clamp(4px, 6px, 8px);
  position: absolute;
  width: 100%;
}

.card-back {
  align-items: center;
  backface-visibility: hidden;
  background: radial-gradient(circle,
      var(--main-bg) 0%,
      var(--medium-bg) 60%,
      var(--light-bg) 80%,
      var(--main-txt) 100%);
  color: var(--main-txt);
  display: flex;
  font-size: 1.4rem;
  font-weight: bold;
  transform: rotateY(180deg);
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.title-wrappper {
  align-items: center;
  background: linear-gradient(45deg, var(--medium-bg), var(--light-bg));
  border: 1px solid var(--main-bg);
  border-radius: var(--default-border-radius);
  color: var(--main-bg);
  display: flex;
  font-size: clamp(1rem, 2vw + 0.7rem, 1.5rem);
  font-weight: 700;
  justify-content: space-between;
  max-height: 68px;
  padding: 8px;
}

.id {
  align-items: center;
  background-color: var(--main-bg);
  border-radius: 50%;
  color: var(--main-txt);
  display: flex;
  height: auto;
  justify-content: center;
  padding: 4px;
  width: fit-content;
}

.card-img {
  border-radius: var(--default-border-radius);
  height: auto;
  margin: 4px auto;
  max-width: clamp(70px, 30vw, var(--card-img-size));
}

.attributes-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.attribute {
  background-color: var(--main-bg);
  border-radius: var(--default-border-radius);
  border: none;
  color: var(--main-txt);
  cursor: pointer;
  padding: clamp(4px, 6px, 8px);
  font-size: inherit;
  font-weight: 600;
}

.trump {
  align-items: center;
  background: linear-gradient(45deg,
      #d4af37,
      #ffd700,
      #fff8dc,
      #ffd700,
      #d4af37);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  color: var(--main-bg);
  display: flex;
  flex-wrap: wrap;
  font-size: clamp(0.6rem, 0.7rem, 0.8rem);
  font-weight: bold;
  height: clamp(36px, 48px, 60px);
  justify-content: center;
  transform: rotate(45deg);
  width: fit-content;
}