.game-board {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 8px;
}

.game-board-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.start {
  background: linear-gradient(45deg, var(--main-bg), var(--medium-bg), var(--main-bg));
  border: none;
  border-radius: 8px;
  color: var(--main-txt);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 8px auto;
  padding: 8px 16px;
}

.in-game-cards {
  display: flex;
  flex-wrap: wrap;
  /* cartas quebram linha no mobile */
  gap: clamp(4px, 6px, 8px);
  justify-content: center;
  width: 100%;
  padding: clamp(4px, 6px, 8px);
}

.hand-wrapper {
  display: flex;
}

.game-status {
  gap: 8px;
  text-align: center;
  align-items: center;
  background-color: var(--light-bg);
  border: 4px solid var(--main-bg);
  border-radius: var(--default-border-radius);
  color: var(--main-bg);
  display: flex;
  font-size: clamp(0.8rem, 1rem, 1.2rem);
  justify-content: space-between;
  padding: 8px 16px;
}

.turn {
  border: 1px solid var(--main-bg);
  border-radius: 50%;
  margin-right: 16px;
  padding: 8px;
  width: auto;
}

.winner {
  align-items: center;
  background-color: var(--light-bg);
  border: 4px solid var(--main-bg);
  border-radius: var(--default-border-radius);
  color: var(--main-bg);
  display: flex;
  font-size: clamp(1rem, 1.5rem, 2rem);
  height: fit-content;
  justify-content: space-between;
  padding: 16px 32px;
}